$dark: #4c2432;
$magenta: #a9218e;

@mixin bp($point) {

    $bp-babybear: "(max-width: 600px)";
    $bp-mamabear: "(max-width: 1280px)";
    $bp-papabear: "(max-width: 1600px)";

    @if $point == papa-bear {
        @media #{$bp-papabear} { @content; }
    }
    @else if $point == mama-bear {
        @media #{$bp-mamabear} { @content; }
    }
    @else if $point == baby-bear {
        @media #{$bp-babybear}  { @content; }
    }

}


body {
    font-family: Arial, Sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    background: $dark;
    color: #fff;
}
#main {
    background-color: #fff;
    color: $dark;
    padding-top: 20px;
}

.container {
    max-width: 900px;
}

.stripe {
    height: 10px;
    background: $magenta;
}

.header {
    background: $dark;
    margin-bottom: 20px;
}

.caption {
    background-color: $dark;
    font-size: 14px;
    li {
        color: #fff;
        &:after {
            content: '\25CF';
            display: inline-block;
            margin-left: 10px;
            color: $magenta;
        }
        &:last-child:after {
            content: '';
        }
    }
    @include bp(baby-bear) {
        font-size: 12px;
        text-align: center;
        li:nth-child(3):after {
            content: '';
        }
    }

}

.list-inline {
    margin: 0;
    padding: 3px 0 3px 10px;
}

#logo {
    margin: 0 auto;
    padding: 15px 0 0;
    @include bp(baby-bear) {
	    padding: 15px 0;
    }
    h1 {
        // margin: 0 10px;
        // padding: 0;
        text-indent: -9999px;
        // background: url('/images/logo.png') no-repeat left top;
        // height: 65px;
        // @include bp(baby-bear) {
        //     margin: 0;
        // }
    }
}

.pinkbox {
    background: $magenta;
    text-align: left;
    padding: 10px 20px 5px;
    border-radius: 0 0 10px 10px;
    p {
        color: #f1e5ee;
        font-size: 12px;
        line-height: 1.5;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    @include bp(baby-bear) {
        border-radius: 0;
        p {
            font-size: 16px;
        }
    }

}

.main {
    line-height: 28px;
    font-size: 17px;
    padding: 20px;
    span {
        font-size: 24px;
        color: #a9218e;
    }
}
.sidebar {
    margin: 20px;
    border-left: 3px dotted $magenta;
    margin-bottom: 20px;
    li {
        font-size: 13px;
    }
    @include bp(baby-bear) {
        margin-top: 0;
        border-left: 0;
        padding-left: 1em;
        padding-bottom: 20px;
        li {
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
}

#footer {
    ul.list-inline {
        padding-top: 20px;
        color: #fff;
        font-size: 12px;
        margin: 0 auto;
        list-style: none;
        line-height: 1.8;
        margin-bottom: 40px;
        li.sep {
            color: $magenta;
        }
        a {
            color: inherit;
        }
        @include bp(baby-bear) {
            text-align: center;
            line-height: 2.5;
            li.sep {
                display: none;
            }
        }
    }

}
